* {
  margin: 0; /* Xóa bỏ margin mặc định */
  padding: 0; /* Xóa bỏ padding mặc định */
  box-sizing: border-box; /* Bao gồm padding và border trong tổng chiều rộng và chiều cao của phần tử */
  font-size: 0px; /* Đặt kích thước font về 0 để loại bỏ khoảng trống của các nút văn bản */
}

body {
  font-family: "Roboto", sans-serif; /* Đặt font chữ chính là "Roboto" hoặc mặc định là sans-serif */
  background-color: #f5f5f5; /* Đặt màu nền là màu xám nhạt */
}

.user-card {
  width: 560px; /* Đặt chiều rộng của thẻ người dùng là 560px */
  background-color: yellow; /* Đặt màu nền là màu vàng */
  height: 300px; /* Đặt chiều cao của thẻ người dùng là 300px */
  padding: 50px; /* Thêm 50px padding ở tất cả các cạnh */
}

.left-conten,
.right-content {
  display: inline-block; /* Hiển thị các phần tử dưới dạng khối nội tuyến */
}

.left-conten {
  width: 114px; /* Đặt chiều rộng là 114px */
  height: 114px; /* Đặt chiều cao là 114px */
  background-color: aqua; /* Đặt màu nền là màu xanh nước biển nhạt */
  margin-right: 10px; /* Thêm 10px khoảng cách bên phải */
  vertical-align: top; /* Căn chỉnh phần tử theo chiều dọc lên trên */
}

.right-content {
  width: calc(336px); /* Đặt chiều rộng là 336px */
  height: 100%; /* Đặt chiều cao là 100% của phần tử cha */
  background-color: blueviolet; /* Đặt màu nền là màu xanh tím */
}
