* {
  box-sizing: border-box; /* Đặt box-sizing cho tất cả các phần tử */
  margin: 0; /* Xóa khoảng cách mặc định */
  color: #191847; /* Màu chữ */
}

html {
  font-family: "poppins", sans-serif; /* Font chữ */
  font-size: 16px; /* Kích thước chữ */
}

body {
  width: 887px; /* Chiều rộng */
  height: 661px; /* Chiều cao */
  margin: 90px; /* Khoảng cách ngoài */
}

main {
  width: 100%; /* Chiều rộng 100% */
  height: 100%; /* Chiều cao 100% */
  border: 1px solid #b3c1d954; /* Đường viền */
  border-radius: 16px; /* Bo góc */
  padding: 82px; /* Khoảng cách trong */
  box-shadow: 0 5px 20px #b3c1d954; /* Đổ bóng */
}

.product_img,
.product_info {
  display: inline-block; /* Hiển thị theo hàng ngang */
  vertical-align: top; /* Canh trên */
}

.product_img {
  width: 249px; /* Chiều rộng */
  height: 223px; /* Chiều cao */
  padding-right: 32px; /* Khoảng cách bên phải */
}

.product_info {
  width: 442px; /* Chiều rộng */
  height: 497px; /* Chiều cao */
}

.free_ship {
  display: block; /* Hiển thị dạng khối */
  width: 112px; /* Chiều rộng */
  height: 29px; /* Chiều cao */
  color: #fff; /* Màu chữ */
  background-color: #191847; /* Màu nền */
  border-radius: 20px; /* Bo góc */
  text-align: center; /* Canh giữa chữ */
  align-content: center; /* Canh giữa nội dung */
  margin-bottom: 10px; /* Khoảng cách dưới */
}

h1 {
  font-size: 24px; /* Kích thước chữ */
  margin: 0 0 32px 0; /* Khoảng cách ngoài */
  color: #191847; /* Màu chữ */
  line-height: 100%; /* Chiều cao dòng */
  font-weight: 600; /* Độ đậm chữ */
}

.product_price {
  width: 369px; /* Chiều rộng */
  margin: 0 0 32px 0; /* Khoảng cách ngoài */
}

.original_price {
  font-size: 18px; /* Kích thước chữ */
  line-height: 100%; /* Chiều cao dòng */
  margin: 0; /* Khoảng cách ngoài */
}

.current_price {
  font-size: 48px; /* Kích thước chữ */
  color: #191847; /* Màu chữ */
  margin: 0; /* Khoảng cách ngoài */
  font-weight: 700; /* Độ đậm chữ */
}

.discount_time {
  margin: 0; /* Khoảng cách ngoài */
  font-family: 14px; /* Kích thước chữ */
}

.button_top {
  width: 442px; /* Chiều rộng */
  height: 59px; /* Chiều cao */
  background-color: #4788e9; /* Màu nền */
  border-radius: 8px; /* Bo góc */
  padding: 16px; /* Khoảng cách trong */
  color: #fff; /* Màu chữ */
  box-shadow: 0 7px #1c57ee; /* Đổ bóng */
  border: none; /* Không viền */
  font-size: 18px; /* Kích thước chữ */
  margin: 0 0 32px 0; /* Khoảng cách ngoài */
}

.button_top:hover {
  box-shadow: 0 7px red; /* Đổ bóng khi hover */
  color: red; /* Màu chữ khi hover */
}

.inventory {
  position: relative; /* Định vị tương đối */
  font-size: 14px; /* Kích thước chữ */
  padding-left: 25px; /* Khoảng cách bên trái */
  margin-bottom: 32px; /* Khoảng cách dưới */
}

.inventory::before {
  position: absolute; /* Định vị tuyệt đối */
  content: ""; /* Nội dung trống */
  display: inline-block; /* Hiển thị dạng khối nội tuyến */
  width: 13px; /* Chiều rộng */
  height: 13px; /* Chiều cao */
  background-color: #00d98b; /* Màu nền */
  border-radius: 50%; /* Bo tròn */
  left: 0; /* Căn trái */
  top: 50%; /* Căn giữa theo chiều dọc */
  transform: translateY(-50%); /* Dịch chuyển lên giữa */
}

.button_bottom {
  display: flex; /* Hiển thị dạng flex */
}

.left_button {
  margin-right: 16px; /* Khoảng cách bên phải */
}

.left_button,
.rift_button {
  display: flex; /* Hiển thị dạng flex */
  width: 213px; /* Chiều rộng */
  height: 64px; /* Chiều cao */
  border: 2px solid #c9c9da; /* Đường viền */
  border-radius: 8px; /* Bo góc */
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
}

.button_bottom_1,
.button_bottom_2 {
  border: none; /* Không viền */
  background-color: #fff; /* Màu nền */
}
